/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.home_container {
  animation: fadeInOut 5.35s ease-in-out;
}

@keyframes fadeInOut {
  0% {opacity: 0;
    background: lightblue;
  transform: translateX(10%);
  transform: translateY(10%);}
  50% {opacity: 1;
    background: black;
    transform: translateX(-10%);
  transform: translateY(-10%);}

  100% {opacity: 0;
  transform: translateX(20%);
transform: translateY(20%);}

}
